{% extends '_layouts/base.njk' %}

{% block content %}
{% include "_partials/jumbotron.njk" %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %}
        <img src="../img/members/{{ member.imagebw }}" alt="A picture of {{ member.name }}" class="img-fluid mb-3">
        <h2 class="mt-3 mb-0">Biography</h2><br>
        <p class="mt-0">Birthplace: {{ member.birthplace }}</p>
        <p>Birthdate: {{ member.birthdate }}</p>
        <p>Instruments: {{ member.instruments }}</p>
        <p>Tenure: {{ member.tenure }}</p>
      {% endblock %}

    </div>
    <div class="col-sm-8">
    {% block story %}
      <h2>Description</h2>
      {{ member.text }} 
    {% endblock %}

    </div>
  </div>
</article>
{% endblock %}