<div class="card w-75 mb-3 mx-auto">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../img/members/freddie-mercury-color.jpg" class="card-img img-fluid" alt="A photo of Freddie Mercury Singing">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vocals, keyboards</h6>
        <p class="card-text">
        Farrokh Bulsara, known professionally as Freddie Mercury, was a British singer-songwriter and record producer, best known as the lead vocalist of the rock band Queen.
        </p>
        <div class="text-right">
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card col-md-6 mb-3 float-left p-0">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../img/members/freddie-mercury-color.jpg" class="card-img" alt="A photo of Freddie Mercury Singing">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vocals, keyboards</h6>
        <p class="card-text">
        Farrokh Bulsara, known professionally as Freddie Mercury, was a British singer-songwriter and record producer, best known as the lead vocalist of the rock band Queen.
        </p>
        <div class="text-right">
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card col-md-6 mb-3 p-0">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../img/members/freddie-mercury-color.jpg" class="card-img" alt="A photo of Freddie Mercury Singing">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vocals, keyboards</h6>
        <p class="card-text">
        Farrokh Bulsara, known professionally as Freddie Mercury, was a British singer-songwriter and record producer, best known as the lead vocalist of the rock band Queen.
        </p>
        <div class="text-right">
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>



</div>