<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../img/members/freddie-mercury-color.jpg" class="card-img" alt="A photo of Freddie Mercury Singing">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vocals, keyboards</h6>
        <p class="card-text">
        Farrokh Bulsara, known professionally as Freddie Mercury, was a British singer-songwriter and record producer, best known as the lead vocalist of the rock band Queen.
        </p>
        <div class="text-right">
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../img/members/freddie-mercury-color.jpg" class="card-img" alt="A photo of Freddie Mercury Singing">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vocals, keyboards</h6>
        <p class="card-text">
        Farrokh Bulsara, known professionally as Freddie Mercury, was a British singer-songwriter and record producer, best known as the lead vocalist of the rock band Queen.
        </p>
        <div class="text-right">
          <a href="#" class="card-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-sm-2">
    <img src="../img/members/freddie-mercury-color.jpg" class="card-img" alt="A photo of Freddie Mercury Singing">
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vocals, keyboards</h6>
        <p class="card-text">Farrokh Bulsara, known professionally as Freddie Mercury, was a British singer-songwriter and record producer, best known as the lead vocalist of the rock band Queen.</p>
        <a href="#" class="btn btn-primary mb-3">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="card">
  <div class="col-sm-2">
    <img src="../img/members/freddie-mercury-color.jpg" class="card-img" alt="A photo of Freddie Mercury Singing">
  </div>
  <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vocals, keyboards</h6>
        <p class="card-text">Farrokh Bulsara, known professionally as Freddie Mercury, was a British singer-songwriter and record producer, best known as the lead vocalist of the rock band Queen.</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

</div>
