<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    A class project by <a target="_blank" href="https://github.com/cmendez20"> Christopher Mendez.</a>
  </div>
  <!-- Copyright -->
</footer>
