<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">QUEEN</h1>
    <p class="lead">a British rock band formed in 1970. Their classic line-up was Freddie Mercury, Brian May, Roger Taylor, and John Deacon.</p>
    <a class="btn btn-primary btn-lg" href="#about_queen" role="button">Learn more</a>
  </div>
</div>