<div class="container">
  <div class="row">
    <div class="col-md-6">

      <ul class="list-unstyled" style="display:inline-block;vertical-align:middle;">
        {% for discs in data.discography %}
        <li class="media">
          <img class="mr-3 mb-3 discs-image" src="../img/discs/{{ discs.image }}" alt="An Image of a Queen Album">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{ discs.title }}</h5>
            {{ discs.year }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
